@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: ☐ #131313;
    --text-color: white;
    --main-color: #00ffee;
    }

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: var(--text-color)
}

header{
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: rgba(0, 0, 0, 0.3);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    background-color: black;
}
.home-content{
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.5rem;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 0.1rem;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    color: #b74b4b;
    animation: words 20s infinite, typing 20s steps(20) infinite;
}

.text-animation span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite
}

.auto-type{
    color: #b74b4b;
    font-weight: bold;
    border-right: 2px solid #b74b4b;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s infinite;
}

@keyframes bling {
    0% { border-color: #b74b4b}
    50% {border-color: transparent; }
    100% {border-color: #b74b4b}
}

@keyframes cursor{
    to{
        border-left: 2px solid #b74b4b;
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    padding: 100px 15px;
    background: var(--second-bg-color);
}.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% +30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% +30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;            
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.36 ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.services{
    background: var(--bg-color);
    color: black;
}
.services h2{
    margin-bottom: 5rem;
    color: white;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}   
.service-box:hover{
background: white;
color: black;
border: 5px solid var(--main-color);
transform: scale(1.03);
}
.service-box .service-info{
display: flex;
flex-direction: column;
text-align: left;
max-height: 200px;
justify-content: left;
align-items: baseline;
padding: 5rem 5rem;
}
.service-info h4{
font-size: 2.5rem;
font-weight: 800;
line-height: 2;
color: black;
}
.service-info p{
font-size: 1.6rem;
font-weight: 600;
max-height: 100px;
line-height: 1.7;
margin: auto;
color: black;
}
.contact{
background-color: var(--bg-color);
}
.contact h2{
margin-bottom: 3rem;
color: white;
}
.contact form{
display: flex;
align-items: center;
justify-content: center;
gap: 3rem;
margin: 5rem auto;
text-align: center;
}
.contact form .input-box{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
width: 100%;
padding: 2.5rem;
font-size: 1.8rem;
color: var(--text-color);
background: var(--second-bg-color);
border-radius: 2rem;
border: 2px solid var(--main-color);
margin: 1.5rem 0;
resize: none;
}
.contact form .btn{
margin-top: 2rem;
}
.footer{
position: relative;
bottom: 0;
width: 100%;
padding: 40px 0;
background-color: var(--second-bg-color);
}
footer .social{
text-align: center;
padding-bottom: 25px;
color: var(--main-color);
}
.footer .social a{
font-size: 25px;
color: var(--main-color);
border: 2px solid var(--main-color);
width: 42px;
height: 42px;
line-height: 42px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 10px;
transition: 0.3s ease-in-out;
}
.footer .social a:hover{
transform: scale (1.2) translateY(-10px);
background-color: var(--main-color);
color: black;
box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
margin-top: 0;
padding: 0;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.my-contact{
    display: flex;
    flex-direction: column;
    height: 100;
    text-align: center;
    gap: 20px;
    margin: 40px 0;
    padding: 20px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    background: var(--second-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #add;
}

.contact-item:last-child{
    border-bottom: none;
}

.contact-item{
    font-size: 24px;
    color: #007bff;
    background: #e0eaff;
    padding: 12px;
    border-radius: 50%;
}

.contact-item h4{
    margin: 0;
    font-size: 18px;
    color: #333;
}

.contact-item p{
    margin: 2px 0 0;
    font-size: 16px;
    color: #555;
}

.contact-item p:hover{
    border-bottom: 1.5px solid var(--main-color);
}

@media(max-width: 600px){
    .my-contact{
        padding: 15px;
    }
    .contact-item{
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-item i {
        font-size: 20px;
    }
}

@media(max-width:1285px){
    html{
    font-size: 55%;
    }
    .services-container{
    padding-bottom: 7rem;
    grid-template-columns:repeat(2,1fr);
    margin: 0 5rem;
    }
    }
    @media(max-width:991px){
    header{
    padding: 2rem 3%;
    }
    section{
    padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
    left: 7px;
    }
    .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
    }
    .timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
padding-left: 37px;
}
.timeline-dot{
left: 0;
}
.services{
padding-bottom: 7rem;
}
.testimonials .wrapper{
grid-template-columns: repeat (1,1fr);
}
.contact form{
flex-direction: column;
}
.footer {
padding: 2rem 3%;
}
}
@media(max-width:895px){
    #menu-icon{
    display: block;
    }
    .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: ☐ rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
    }
    .navbar.active{
        display: block;
        font-size: 2 rem;
        margin: 3 rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}